/* Our purpose... “unleash the gamer in everyone” */

position: absolute;
width: 520px;
height: 88px;
left: 1160px;
top: 1246px;

font-family: 'Work Sans';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 45px;
/* or 188% */
text-align: right;

color: #534C64;


/* Our purpose... “unleash the gamer in everyone” */

position: absolute;
width: 520px;
height: 88px;
left: 1160px;
top: 1246px;

font-family: 'Work Sans';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 45px;
/* or 188% */
text-align: right;

color: #534C64;


